html {
  font-family: 'Ubuntu Condensed', sans-serif;
}

main {
  background: url("../images/starfield.png") 0px no-repeat;
}

h1,
p {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, .7);
}

.btn-ghost {
  color: #b4fff4;
  border: 3px solid #b4fff4;
  border-radius: 8px;
  padding-right: .4rem;
}

.btn-ghost:hover {
  color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
  border: 3px solid #b4fff4;
}

.btn-space {
  border-top: 3px solid #b4fff4;
}
