html {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.banner {
  background: url("../images/starfield.png") center center repeat;
}

h1,
p {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, .7);
}

.btn-ghost {
  color: #b4fff4;
  border: 3px solid #b4fff4;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.btn-ghost:hover {
  color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
  border: 3px solid #b4fff4;
}

.rocket {
  right: .2em;
}

.btn-ghost:hover .rocket {
  top: 23px;
}

.btn-space {
  position: absolute;
  border: 3px solid #b4fff4;
  border-radius: 0 0 10px 10px;
  bottom: -.7em;
  left: -3px;
  width: calc(100% + 6px);
  min-height: .7em;
}

.btn-ghost:hover .btn-space {
  background-color: rgba(180, 255, 244, .2);
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active {

}
